{% extends "base.html" %}
{% block title %}Guess The Digit | Play{% endblock %}

<body>
    {% load static %}
    {% block content %}
    <div class="d-flex wrapper bg-light" style="justify-content: center;align-items: center;">

        <div class="container-fluid text-center  rounded shadow my-5">

            {% if level == "easy" %}
                <div id="easy_level_div" class="alert alert-warning text-black" role="alert">
                    Guess a number in the range from 1-10
                </div>
            {% elif level == "medium" %}
                <div id="medium_level_div" class="alert alert-warning text-black" role="alert">
                    Guess a number in the range from 1-50
                </div>
            {% elif level == "hard" %}
                <div id="hard_level_div" class="alert alert-warning text-black" role="alert">
                    Guess a number in the range from 1-100
                </div>
            {% endif %}

            {% if specific_hint != "" %}
                <br>
                <div id="hint_div" class="alert alert-info text-black" role="alert">
                    {{ specific_hint }}
                </div>

            {% endif %}
            
            <div id="div_containing_correct_guess" hidden>
                <br>
                <p id="correct_number" value="{{ correct_number }}">{{ correct_number }}</p>
            </div>

            <form id="guessing_game_form" method="post">
                {% csrf_token %}
                <label class="text-black" for="guess_number_input_field">Guess the number</label>
                <input class="form-control" type="number" id="guess_number_input_field" name="guess_number_input_field" required>
                <br>
                <button type="submit" id="guess_number_button" class="btn btn-primary">Guess</button>
            </form>

            {% if result == 'Wrong guess! Try again!'%}
                <br>
                <div class="alert alert-dark text-black" role="alert">
                    <p id="try_again_div_guess_the_digit">{{ result }}</p>
                </div>
            {% elif result == 'Correct guess! Well done!' %}
                <div class="alert alert-success text-black" role="alert">
                    <p id="correct_guess_div_guess_the_digit">{{ result }}</p>
                </div>
            {% elif 'Game over! The correct number was' in result %}
                <div class="alert alert-primary text-black" role="alert">
                    <p id="game_over_div_guess_the_digit">{{ result }}</p>
                </div>
            {% endif %}


            {% if request.method == 'POST' %}
                <br>
                <div class="card">
                    <div class="card-body mb-0">
                    <h5 class="card-title text-black mb-0">Player Score</h5>
                    <p class="card-text text-black">Score: {{ latest_score }}</p>
                    </div>
                </div>
            {% endif %}
            
            <div id="div_for_replay_game_button" style="display:none;">
                <br>
                <button id="replay_game_button" class="btn btn-primary">Replay?</button>
            </div>

            <div id="div_for_going_back_to_homepage_button" style="display:none;">
                <br>
                <button id="back_to_homepage_btn" class="btn btn-primary">Back to the homepage?</button>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        let correct_guess_div_guess_the_digit = document.getElementById("correct_guess_div_guess_the_digit");
        let game_over_div_guess_the_digit = document.getElementById("game_over_div_guess_the_digit");

        // Extracting the text from the objects above. We are checking whether the objects are null and if they are, they will be an empty string.
        
        let correct_guess_div_guess_the_digit_text = "";
        let game_over_div_guess_the_digit_text = "";

        if (correct_guess_div_guess_the_digit != null)
        {
            correct_guess_div_guess_the_digit_text = correct_guess_div_guess_the_digit.textContent;
        }
        
        if (game_over_div_guess_the_digit != null)
        {
            game_over_div_guess_the_digit_text = game_over_div_guess_the_digit.textContent;
        }

        // Checking if the game is over. If it is, we want to hide some elements from the game, which are no longer relevant.
        if (correct_guess_div_guess_the_digit_text === 'Correct guess! Well done!' || game_over_div_guess_the_digit_text.includes('Game over! The correct number was'))
        {
            let easy_level_div = document.getElementById("easy_level_div");
            let medium_level_div = document.getElementById("medium_level_div");
            let hard_level_div = document.getElementById("hard_level_div");
            let div_for_replay_game_button = document.getElementById("div_for_replay_game_button");
            
            // Identifies the level of the game, which will be used as a parameter in the URL, if the user "replays" the game
            let level_identifier = ""

            // Hiding the divs that shows what range of numbers the user can guess, if the game is over
            if (easy_level_div != null)
            {
                easy_level_div.style.display = "none";
                level_identifier = "easy"
            }

            else if (medium_level_div != null) 
            {
                medium_level_div.style.display = "none";
                level_identifier = "medium"
            }

            else if (hard_level_div != null)
            {
                hard_level_div.style.display = "none";
                level_identifier = "hard"
            }

            // Hiding the hint for the user, if the game is over
            let hint_div = document.getElementById("hint_div");
            let hint_enabled = "no"

            if (hint_div != null)
            {
                hint_div.style.display = "none";
                // Tracking whether the hint was enabled, which will be used as a parameter in the URL, if the user "replays" the game
                hint_enabled = "yes"
            }

            div_for_replay_game_button.style.display = "block"
            div_for_going_back_to_homepage_button.style.display = "block"

            // Hiding the guessing form (where user can choose the number that they want to guess), if the game is over
            let guessing_game_form = document.getElementById("guessing_game_form");
            guessing_game_form.style.display = "none";

            
            let replay_game_button = document.getElementById("replay_game_button")

            let back_to_homepage_btn = document.getElementById("back_to_homepage_btn");

            replay_game_button.addEventListener("click", function() {
                    let url = '{% url "play" %}' + "?selected_level=" + level_identifier + "&hints=" + hint_enabled;
                    
                    window.location.href = url;
            });

            back_to_homepage_btn.addEventListener("click", function() {
                let url = '{% url "homepage" %}';
                window.location.href = url;
            });
        }
    </script>

    {% endblock %}
</body>