{% extends "base.html" %}
{% block title %}Config - Rock Paper Scissors{% endblock %}

<body>
    {% load static %}
    {% block content %}
    <div class="wrapper bg-light d-flex justify-content-center align-items-center">
        <div class="container-fluid text-center rounded shadow my-5">

            <p id="rps_game_heading" class="text-black text-center" style="font-size:22px;"></p>
            <br><br>

            <form id="rps_form" method="POST" action="{% url 'rock_paper_scissors:rps_form_submitted' %}">
                {% csrf_token %}
                <div class="flex_container_rps d-flex">
                    <div class="col-md-6" id="carousel_container_player">
                        <p id="user_wins" class="lead text-black text-center">0</p>
                        
                        <div id="carousel_rps_player" class="carousel slide" data-bs-interval="false">

                            <div class="carousel-inner">

                                <div class="carousel-item active" data-value="paper">
                                    <a class="selected_rps" href="#"><img class="img-fluid" src="{% static 'assets/paper.png' %}" alt="Picture of a paper"></a>
                                </div>

                                <div class="carousel-item" data-value="rock">
                                    <a class="selected_rps" href="#"><img class="img-fluid" src="{% static 'assets/rock.png' %}" alt="Picture of a rock"></a>
                                </div>

                                <div class="carousel-item" data-value="scissors">
                                    <a class="selected_rps" href="#"><img class="img-fluid" src="{% static 'assets/scissors.png' %}" alt="Picture of scissors"></a>
                                </div>

                            </div>

                            <a class="carousel-control-prev" id="carousel_control_prev_player" href="#carousel_rps_player" style="background-color: blue;" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" id="carousel_control_next_player" href="#carousel_rps_player" style="background-color: blue;" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>

                        <br><br>
                        <div>
                            <p id="prompt_user_to_make_choice" class="lead">Make your choice!</p>
                        </div>
                    </div>

                    <div class="col-md-6" id="carousel_container_computer">
                        <p id="computer_wins" class="lead text-black text-center">0</p>

                        <div id="carousel_rps_computer" class="carousel slide" data-bs-interval="false">

                            <div class="carousel-inner">

                                <div id="paper_computer" class="carousel-item" style="display: none;">
                                    <img class="img-fluid" src="{% static 'assets/paper.png' %}" alt="Picture of a paper">
                                </div>

                                <div id="rock_computer" class="carousel-item" style="display: none;">
                                    <img class="img-fluid" src="{% static 'assets/rock.png' %}" alt="Picture of a rock">
                                </div>

                                <div id="scissors_computer" class="carousel-item" style="display: none;">
                                    <img class="img-fluid" src="{% static 'assets/scissors.png' %}" alt="Picture of scissors">
                                </div>

                                <div id="waiting_for_computer_choice" class="carousel-item active justify-content-center align-items-center">
                                    <div class="spinner-border" id="loading_rps" role="status">
                                        <span class="visually-hidden"></span>
                                    </div>
                                    <br>
                                    <p class="lead text-black text-center">Waiting for computer to choose an option</p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <br><br>

                <div class="alert alert-primary text-black" id="rps_round_outcome_div" role="alert" style="display:none;">
                    <p class="rps_round_outcome text-center"></p>
                </div>

                <br><br>

                <div class="alert alert-warning text-black" id="attempts_div" role="alert">
                    <p class="text-center" id="attempts">Quickest player to win 3 games wins!</p>
                </div>

                <br><br>

                <input type="hidden" id="carousel_value" name="carousel_value" value="">
                
                <div class="modal" id="rps_end_of_game_info_modal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="card mx-sm-5 mb-5">
                                    <div id="display_end_result_of_rps_game" role="alert">
                                        <p class="rps_end_of_game_info lead text-center"></p>
                                    </div>
                                </div>
                                
                                <button type="button" id="rps_replay_game" class="btn btn-primary">Replay?</button>

                                <button type="button" id="back_to_homepage_button" class="btn btn-primary">Back to home page?</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function(){
            $('#carousel_rps_player').carousel();
    
            $('#carousel_control_prev_player').click(function(){
                $('#carousel_rps_player').carousel('prev');
            });
    
            $('#carousel_control_next_player').click(function(){
                $('#carousel_rps_player').carousel('next');
            });

            // If the user wants to replay the rps game, this button will make a get request and load the new game
            $('#rps_replay_game').on("click", function() {
                window.location.href = "{% url 'rock_paper_scissors:single_player_rps' %}";
            });

            // If the user wants to go back to the homepage after playing the rps game, this function will redirect them to the homepage.
            $('#back_to_homepage_button').on("click", function() {
                window.location.href = "{% url 'homepage' %}";
            });

            $('.selected_rps').click(function(e){
                e.preventDefault();

                $('.selected_rps').css({
                    'pointer-events' : 'none',
                    'cursor' : 'default'
                });

                // Hide the carousel next and previous buttons, as we don't want the user to change their choice mid game.
                $('#carousel_control_prev_player').hide();
                $('#carousel_control_next_player').hide();

                $('#waiting_for_computer_choice').show();

                setTimeout(function() {

                    rps_form_submission();

                }, 2000);
            });

            function rps_form_submission() 
            {
                var selected_rps_player = $('#carousel_rps_player .carousel-item.active').data('value');

                var form_data = $('#rps_form').serialize();

                $('#carousel').val(selected_rps_player);

                form_data += '&carousel_value=' + selected_rps_player;
                
                $.ajax({
                    type: 'POST',
                    url: "{% url 'rock_paper_scissors:rps_form_submitted' %}",
                    data: form_data,

                    success: function(response) {

                        let computer_rps_choice = response.computer_rps_choice;

                        if (computer_rps_choice === "rock")
                        {
                            $('#paper_computer').hide();
                            $('#scissors_computer').hide();
                            $('#rock_computer').show();
                            // Hide the loading spinner
                            $('#waiting_for_computer_choice').hide();
                        }

                        else if (computer_rps_choice === "paper")
                        {
                            $('#rock_computer').hide();
                            $('#scissors_computer').hide();
                            $('#paper_computer').show();
                            // Hide the loading spinner
                            $('#waiting_for_computer_choice').hide();
                        }

                        else if (computer_rps_choice === "scissors")
                        {
                            $('#rock_computer').hide();
                            $('#paper_computer').hide();
                            $('#scissors_computer').show();
                            // Hide the loading spinner
                            $('#waiting_for_computer_choice').hide();
                        }

                        $('#carousel_rps_computer').show();

                        if (response.rps_end_of_game == "Game Over! You failed to win this game! Good luck next time!" || response.rps_end_of_game == "Game Over! You won this game! You have received 10 points!")
                        {
                            $('.selected_rps').css({
                                'pointer-events' : 'none',
                                'cursor' : 'default'
                            });

                            // Update the total wins counter for the user
                            $('#user_wins').text("");
                            $('#user_wins').text(response.user_total_wins);

                            // Update the total wins counter for the computer
                            $('#computer_wins').text("");
                            $('#computer_wins').text(response.computer_wins);

                            let round_number = response.round_number;
                            $('#rps_game_heading').text("Round " + round_number);

                            $('.rps_round_outcome').text("You " + response.rps_round_outcome);
                            
                            $('.rps_end_of_game_info').text(response.rps_end_of_game);

                            setTimeout(function() {
                                $('#rps_end_of_game_info_modal').modal('show');
                            }, 1000);

                            $('#rps_round_outcome_div').show();
                        }
                        
                        else
                        {
                            $('#carousel_control_prev_player').hide();
                            $('#carousel_control_next_player').hide();

                            $('#prompt_user_to_make_choice').text("You chose " + response.user_rps_choice);

                            let round_number = response.round_number;
                            $('#rps_game_heading').text("Round " + round_number);

                            $('.rps_round_outcome').text("You " + response.rps_round_outcome);

                            $('#rps_round_outcome_div').show();

                            setTimeout(function () {
                                // After waiting for 2 seconds, we will reset the opponent options and bring back the loading spinner
                                // which indicates that we are waiting for the opponent to make their choice.
                                $('#rock_computer').hide();
                                $('#paper_computer').hide();
                                $('#scissors_computer').hide();
                                // Show the loading spinner again, as the new round will be played.
                                $('#waiting_for_computer_choice').show();
                                
                                // Re-enable the option to click on the rock,paper,scissor options (it was disabled when the user
                                // already made their choice, so that multiple options weren't selected at once.)
                                $('.selected_rps').css({
                                    'pointer-events' : '',
                                    'cursor' : ''
                                });

                                // Hiding the outcome of the current round, as we load the new round.
                                $('#rps_round_outcome_div').hide();

                                // After removing the next/previous option from the carousel, we are bringing it back so the user
                                // can pick their next option.
                                $('#carousel_control_prev_player').show();
                                $('#carousel_control_next_player').show();

                                // Update the total wins counter for the user
                                $('#user_wins').text("");
                                $('#user_wins').text(response.user_total_wins);

                                // Update the total wins counter for the computer
                                $('#computer_wins').text("");
                                $('#computer_wins').text(response.computer_wins);

                                // Set the prompt text to the default
                                $('#prompt_user_to_make_choice').text("Make your choice!");

                            }, 2000);
                        }

                    },

                    error: function(error) {
                        console.error(error);
                    }
                });
            }
        });
    </script>
    {% endblock %}
</body>