{% extends "base.html" %}
{% block title %}About{% endblock %}
<body>
    {% load static %}
    {% block content %}
    <div class="wrapper bg-light">
        <header class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <p id="intro_about_paragraph" class="lead text-black">
                                    At GameHive, we're passionate about bringing the joy of gaming to your fingertips. We are a 
                                    dedicated team of game enthusiasts who believe that gaming should be accessible to everyone. 
                                    Our mission is to provide high-quality web app games that you can enjoy for free. Whether you're
                                    a casual gamer looking for a quick escape or a seasoned player seeking a new challenge, GameHive
                                    has something for everyone. We take pride in crafting engaging and addictive gaming experiences
                                    that captivate players of all ages. Join us on this thrilling adventure as we continue to create,
                                    innovate, and share the excitement of gaming with the world.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container text-center">
            <h3 class="fw-bolder text-black">GameHive Values...</h3>
            <div class="row">
                <div class="col-md-3 d-flex mx-auto">
                    <div class="card flex-fill">
                        <div class="card-body">
                        <h5 class="fw-bolder card-title text-black">Creativity</h5>
                        <p class="fw-light fs-6 card-text text-black">
                            At GameHive, we foster creativity by offering innovative gameplay experiences that challenge your 
                            imagination and inspire your inner game designer
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex mx-auto">
                    <div class="card flex-fill">
                        <div class="card-body">
                        <h5 class="fw-bolder card-title text-black">Speed</h5>
                        <p class="fw-light fs-6 card-text text-black">
                            Time is precious, and at GameHive, we value yours. Enjoy games that load quickly and keep you in the
                            action, no waiting required.
                        </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 d-flex mx-auto">
                    <div class="card flex-fill">
                        <div class="card-body">
                        <h5 class="fw-bolder card-title text-black">User Satisfaction</h5>
                        <p class="fw-light fs-6 card-text text-black">
                            Your happiness is our top priority. GameHive is dedicated to delivering joy through entertaining games
                            and a community that cares.
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}
</body>