{% extends "base.html" %}
{% block title %}Contact{% endblock %}
<body>
    {% load static %}
    {% block content %}
    <div class="wrapper bg-light">
        <!-- Header-->
        <header class="bg-light py-5">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Get in touch</h2>
                    <p class="lead mb-0">We'd love to hear from you</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <form id="contact-form" method="post">
                            <!-- Username input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="username" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="username">Username</label>
                                <div class="invalid-feedback" data-sb-feedback="username:required">A username is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone_number" type="tel" placeholder="Enter phone..." data-sb-validations="required" />
                                <label for="phone_number">Password</label>
                                <div class="invalid-feedback" data-sb-feedback="password:required">A password is required.</div>
                            </div>

                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Message</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>

                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Sign Up</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </header>
    </div>
    {% endblock %}
</body>