{% extends "base.html" %}
{% load static %}
{% block title %}Customer Support{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/customer_support.js' %}"></script>
{% endblock %}

{% block content %}
    <section class="mt-3 mb-5 text-center">
        <h2>Customer Support - Form</h2>
    </section>

    <section class="mt-5 mb-5 text-center">
        <div class="container">
            <h5 class="subheading_intro_customer_support_form">Need Help?</h5>
            <p class="intro_customer_support_form">
                Our support team is here to assist you with account deletion, edits, refunds, or any other issues you might run into — even the unusual ones. Just fill out the form below and we'll get back to you as soon as possible.
            </p>
        </div>
    </section>

    <section class="mt-5 mb-5 text-center">
        <div class="container">
            <div class="col-12 col-md-10 col-xl-12">
                <div class="alert alert-success" id="div_outcome_customer_support_submit_success" role="alert" style="display:none;">
                    <p id="paragraph_outcome_customer_support_submit_success"></p>
                </div>

                
                <div id="div_customer_support_errors" class="alert alert-danger" style="display: none;">
                    <ul id="customer_support_errors_list">
                    </ul>
                </div>

                <div class="alert alert-danger" id="div_outcome_customer_support_submit_failure" role="alert" style="display:none;">
                    <p id="paragraph_outcome_customer_support_submit_failure"></p>
                </div>
                <br>

                <form id="customer_support_form" method="post" enctype="multipart/form-data" data-url="{% url 'customer_support' %}">
                    {% csrf_token %}

                    {% if user.is_authenticated %}
                        <div class="d-flex">
                            <div class="form-floating mb-3 flex-grow-1" >
                                <input class="form-control" id="{{ form.customer_username.id_for_label }}" name="customer_username" type="text" value="{{ request.user.username }}" autocomplete="off" readonly />
                                <label for="{{ form.customer_username.id_for_label }}">Username</label>
                            </div>

                            <div class="ms-2 d-flex align-items-center">
                                <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Enter the username that you used to create your GameHive account."></i>
                            </div>
                        </div>
                    {% endif %}
                    
                    {% if not user.is_authenticated %}
                        <div class="d-flex">
                            <div class="form-floating mb-3 flex-grow-1">
                                <input class="form-control" id="{{ form.customer_email.id_for_label }}" name="customer_email" type="email" placeholder="Enter your email..." autocomplete="off" />
                                <label for="{{ form.customer_email.id_for_label }}">Email</label>
                            </div>

                            <div class="ms-2 d-flex align-items-center">
                                <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Enter the email address that you used when creating your GameHive account."></i>
                            </div>
                        </div>
                    {%  endif %}

                    <div class="d-flex">
                        <div class="form-floating mb-3 flex-grow-1">
                            <select class="form-select text-black" name="customer_request_type" aria-label="Choose the request type for this ticket e.g. delete user, edit user, cancel purchase, or general request.">
                                <option selected disabled value="">Choose Request Type</option>
                                <option value="Delete Your Account">Delete Your Account</option>
                                <option value="Edit Your Account">Edit Your Account</option>
                                <option value="Cancel Your Purchase">Cancel Your Purchase</option>
                                <option value="General Requests">General Requests</option>
                            </select>
                        </div>

                        <div class="ms-2 d-flex align-items-center">
                            <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Choose the request type for this ticket e.g. delete user, edit user, cancel purchase, or general requests. If unsure, just choose 'general requests'."></i>
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="form-floating mb-3 flex-grow-1">
                            <input class="form-control" id="{{ form.customer_title_of_request.id_for_label }}" name="customer_title_of_request" type="text" placeholder="Enter the title for this request..." autocomplete="off" />
                            <label for="{{ form.customer_title_of_request.id_for_label }}">Request Title</label>
                        </div>

                        <div class="ms-2 d-flex align-items-center">
                            <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Enter the title for this request, which will reflect the type of request that you have."></i>
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="form-floating mb-3 flex-grow-1">
                            <textarea class="form-control" id="{{ form.customer_ticket_description.id_for_label }}" name="customer_ticket_description"></textarea>
                            <label for="{{ form.customer_ticket_description.id_for_label }}">Description</label>
                        </div>

                        <div class="ms-2 d-flex align-items-center">
                            <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Add a description to explain the request type in more detail."></i>
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="customer_support_attachments_label mb-3 flex-grow-1">
                            <label for="{{ form.customer_ticket_attachments.id_for_label}}" class="form-label">Attachments</label>
                            <input class="form-control" type="file" id="{{ form.customer_ticket_attachments.id_for_label }}" name="customer_ticket_attachments" />
                        </div>

                        <div class="ms-2 d-flex align-items-center">
                            <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Add any attachments to this ticket, to support your case or to show something."></i>
                        </div>
                    </div>

                    <div class="d-flex">
                        <button class="btn btn-primary" type="submit" id="submit_customer_support_form">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}