{% extends "base.html" %}
{% block title %}GameHive{% endblock %}
<body>
    {% load static %}
    {% block content %}
    <!-- Header-->
    <header class="py-5" style="background-color: #EDEDED;">
        <div class="container px-5" style="background-color: #EDEDED;">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-black mb-2">Unlock Fun, One Game at a Time</h1>
                        <p class="lead text-black mb-4">Exciting games that will make you feel happy!</p>
                        {% if not user.is_authenticated %}
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'sign_up' %}">Get Started</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% if user.is_authenticated %}
        <div class="wrapper bg-light">
            <!-- Games section-->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder text-black">Games Available</h2>
                    <p class="lead text-black mb-0">Play any of the games below - for free!</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <!-- Guess the Digit Game-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="mb-3">
                                    <span class="display-6 fw-bold text-black">Guess the Digit</span>
                                </div>
                                <div class="d-grid"><a class="btn btn-outline-primary" href="{% url 'config' %}">Play</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Rock Paper Scissors Game-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="mb-3">
                                    <span class="display-6 fw-bold text-black">Rock, Paper, Scissors</span>
                                </div>
                                <form id="form_rps_single_player_multiplayer" method="post">
                                    {% csrf_token %}
                                    <div class="d-grid"><button type="submit" class="btn btn-outline-primary">Play</button></div>
                                </form>


                                <div class="modal" id="rps_single_player_or_multiplayer_toggle" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title">Choose Game Mode</h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card mx-sm-4 mb-4">
                                                <div class="card-body">
                                                    <h5 class="card-title"><a href="{% url 'rock_paper_scissors:single_player_rps' %}">Single Player</a></h5>
                                                </div>
                                            </div>
                                            
                                            <div class="card mx-sm-4 mb-4">
                                                <div class="card-body">
                                                    <h5 class="card-title"><a href="{% url 'rock_paper_scissors:multiplayer_rps_config' %}">Multiplayer</a></h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <div class="wrapper" style="background-color: #EDEDED;">
                <div class="container px-5 my-5">
                </div>
            </div>
        {% endif %}
    <script>
        $(document).ready(function() {
            $('#form_rps_single_player_multiplayer').submit(function(e) {
                e.preventDefault();

                $('#rps_single_player_or_multiplayer_toggle').modal('show');
            });
        });
    </script>
    {% endblock %}
</body>