{% extends "base.html" %}
{% block title %}Login{% endblock %}
<body>
    {% load static %}
    {% block content %}
    <div class="wrapper white_background">
        <!-- Header-->
        <header class="py-5 white_background">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Sign in to your GameHive account</h2>
                    <p class="lead mb-0">Enter your valid username and password</p>
                </div>

                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div id="div_login_form" class="alert alert-danger" role="alert" style="display:none;">
                            <ul id="login_error_messages"></ul>
                        </div>

                        <div class="alert alert-success" id="login_form_success" role="alert" style="display:none;"></div>

                        <form id="login_form" method="post">
                            {% csrf_token %}
                            <!-- Username input-->
                            <div class="d-flex">
                                <div class="form-floating mb-3 flex-grow-1">
                                    <input class="form-control" id="{{ form.username.id_for_label }}" name="username" type="text" placeholder="Enter your username..." autocomplete="off" />
                                    <label for="{{ form.username.id_for_label }}">Username</label>
                                </div>

                                <div class="m-2 d-flex align-items-center">
                                    <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Enter the username that you used to create your account."></i>
                                </div>
                            </div>
                            <!-- Password input-->
                            <div class="d-flex">
                                <div class="form-floating mb-3 flex-grow-1">
                                    <input class="form-control" id="{{ form.password.id_for_label }}" name="password" type="password" placeholder="Enter password..." autocomplete="off" />
                                    <label for="{{ form.password.id_for_label }}">Password</label>
                                </div>

                                <div class="m-2 d-flex align-items-center">
                                    <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Enter the password that you used to create your account."></i>
                                </div>
                            </div>
                            
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Login</button></div>

                            <p>Don't have an account? <a href="{% url 'sign_up' %}" class="link-primary">Sign Up</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <script>
        $(document).ready(function() {
            $('[data-bs-toggle="tooltip"]').tooltip();

            $('#sign_up_link').addClass('highlight_sign_up_nav_link_in_login_page');
            $('#homepage_link').addClass('unhighlight_nav_links');

            // If the form is submitted, this will perform an AJAX call and send the login info to the backend.
            // Then, it will be sent back to the client-side, so that it can be displayed.
            $('#login_form').submit(function (e) {
                // We are preventing the submission of the form, as this will be done through AJAX
                e.preventDefault();

                // We are serialising the form data, so that it can be sent to the backend for review.
                form_data = $('#login_form').serialize();

                // AJAX POST request, which will attempt to login a user and deliver the outcome (success or failure) to the user
                $.ajax({
                    type : "POST",
                    url : "{% url 'login' %}",
                    data : form_data,

                    success: function(response) {
                        // Hiding the error messages and resetting them so that previous errors don't show up
                        $('#div_login_form').hide();
                        $('#login_error_messages').text("");

                        // If the user manages to login successfully, display the success message of the screen
                        if (response.error_message === "")
                        {
                            // If the user managed to login successfully, we will display the success message on the screen using
                            // this if statement
                            if (response.success != "")
                            {
                                // Adding the success message to the specific list that will be displayed on the screen.
                                // Then, we display the div that holds that list.
                                $('#login_error_messages').append(`<li>${response.success}</li`);
                                $('#div_login_form').show();
                                
                                // After 2 seconds of the user signing in successfully, redirect to the homepage.
                                setTimeout(function () {
                                    window.location.href = "{% url 'homepage' %}";
                                }, 2000);
                            }
                        }

                        // If the user encounters an error when signing in, this "else" block will add the error message
                        // to a list and display it on the screen using the div.
                        else
                        {
                            // If the error message returned is in the form of an object, we will need a for loop to access each error
                            if ($.type(response.error_message) === "object")
                            {
                                // Go through each error and display it in the error list
                                for (let element in response.error_message)
                                {
                                    response.error_message[element].forEach(error => {
                                        $('#login_error_messages').append(`<li>${element} is required.</li>`);
                                    });
                                }

                                // Display the div that stores the error list
                                $('#div_login_form').show();
                            }

                            // If the error message is a simple string, we can just append it to the list normally.
                            else
                            {         
                                // Adding the error message to the list that holds the error messages
                                $('#login_error_messages').append(`<li>${response.error_message}</li>`);

                                // Displaying the div that holds the list that stores the error messages, which will display the error
                                // messages to the screen
                                $('#div_login_form').show();
                            }
                        }
                    },

                    // If an error occurred while submitting the form, this will just print the error to the console, to help with
                    // debugging the issue.
                    error: function(error) {
                        console.log(error);
                    }
                });

            });
        });
    </script>
    
    {% endblock %}
</body>