{% extends "base.html" %}
{% block title %}Login{% endblock %}
<body>
    {% load static %}
    {% block content %}
    <div class="wrapper bg-light">
        <!-- Header-->
        <header class="bg-light py-5">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Sign in to your GameHive account</h2>
                    <p class="lead mb-0">Enter your valid username and password</p>
                </div>

                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">

                        {% if messages %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        {% if error_message %}
                            <div style="background-color:red;">
                                <p style="color: white;text-align: center;">{{ error_message }}</p>
                            </div>
                        {% endif %}

                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <!-- Username input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="{{ form.username.id_for_label }}" name="username" type="text" placeholder="Enter your username..." autocomplete="off" />
                                <label for="{{ form.username.id_for_label }}">Username</label>
                                <div class="invalid-feedback">A username is required.</div>
                            </div>
                            <!-- Password input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="{{ form.password.id_for_label }}" name="password" type="password" placeholder="Enter password..." autocomplete="off" />
                                <label for="{{ form.password.id_for_label }}">Password</label>
                                <div class="invalid-feedback">A password is required.</div>
                            </div>
                            
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Login</button></div>

                            <p>Don't have an account? <a href="{% url 'sign_up' %}" class="link-primary">Sign Up</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </header>
    </div>
    {% endblock %}
</body>