{% extends "base.html" %}
{% load static %}
{% block title %}Manage Users{% endblock %}

{% block extra_css %}
    <link href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css" rel="stylesheet">
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>
    <script src="{% static 'js/manage_users.js' %}"></script>
{% endblock %}

<body>
    {% block content %}
    <section id="main_section">
        <section class="mt-3 mb-5" id="manage_users_heading">
            <div class="container">
                <hr>
                <h2>Users - All Users</h2>
                <p>GameHive users with the following attributes: full name, username, account type. </p>
                <hr>
            </div>
        </section>

        <section>
            <div class="d-flex container justify-content-center">
                <div class="col-12">
                    <div class="card text-center">
                        <div class="card-body">
                            <h3>Total Users</h3>
                            <i class="bi bi-people icons_for_admin_options"></i>
                            <p class="website_statistical_numbers">{{ number_of_users }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5 mb-5" id="manage_users_admin_taskbar">
            <div class="d-flex container justify-content-center">
                <div class="btn-group col-12" role="group" aria-label="Admin options for managing users.">
                    <button type="button" class="btn admin_options_delete"><i class="bi bi-trash"></i> Delete User</button>
                    <button type="button" id="refresh_users_btn" class="btn admin_options_refresh_page"><i class="bi bi-arrow-clockwise"></i> Refresh</button>
                    <button type="button" class="btn admin_options_refresh_page"><i class="bi bi-download"></i> Download Users</button>
                </div>
            </div>
        </section>

        <section class="mt-5 mb-5" id="list_of_users_section">
            <div class="container">
                <table class="table table-responsive" id="manage_users_table">
                    <thead id="users_table_headers">
                        <tr>
                            <th scope="col"><input class="form-check-input" id="select_all_users" type="checkbox" aria-label="Select the user record row."></th>
                            <th scope="col" class="text-black text-center">Full Name</th>
                            <th scope="col" class="text-black text-center">Username</th>
                            <th scope="col" class="text-black text-center">Account Type</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for user_record in all_users %}
                            <tr class="user-row">
                                <th scope="row"><input class="form-check-input select-row" type="checkbox" aria-label="Select the user record row."></th>
                                <td class="text-black text-center">{{ user_record.first_name }} {{ user_record.last_name }}</td>
                                <td class="text-black text-center"><a href="#" id="username_link_manage_users">{{ user_record.username }}</a></td>
                                <td class="text-black text-center">{{ user_record.account_type }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    {% endblock %}
</body>