{% extends "base.html" %}
{% block title %}Multiplayer - Rock Paper Scissors{% endblock %}

<body>
    {% load static %}
    {% block content %}
    <div id="start_multiplayer_game" style="display:none;">
        <div class="d-flex wrapper bg-light justify-content-center align-items-center">
            <div class="container-fluid text-center rounded shadow my-5">
                {{ rps_room_name }}
                <p id="multiplayer_rps_game_heading" class="text-black text-center" style="font-size:22px;"></p>

                <p id="current_round_number" class="text-black text-center" style="font-size:22px;">Round 1</p>
                <input id="username" type="text" value="{{ request.user }}" style="display:none;" />
                <br><br>

                <form id="multiplayer_rps_game">
                    {% csrf_token %}
                    <div class="flex_container_rps" style="display:flex;">
                        <div class="col-md-6" id="carousel_container_user">
                            <div id="carousel_rps_user" class="carousel slide" data-bs-interval="false">

                                <div class="carousel-inner">

                                    <div class="carousel-item active" data-value="paper">
                                        <img class="img-fluid" src="{% static 'assets/paper.png' %}" alt="Picture of a paper">
                                    </div>

                                    <div class="carousel-item" data-value="rock">
                                        <img class="img-fluid" src="{% static 'assets/rock.png' %}" alt="Picture of a rock">
                                    </div>

                                    <div class="carousel-item" data-value="scissors">
                                        <img class="img-fluid" src="{% static 'assets/scissors.png' %}" alt="Picture of scissors">
                                    </div>

                                </div>

                                <a class="carousel-control-prev" id="carousel_control_prev_for_user" href="#carousel_rps_user" style="background-color: blue;" role="button" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </a>
                                <a class="carousel-control-next" id="carousel_control_next_for_user" href="#carousel_rps_user" style="background-color: blue;" role="button" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </a>
                            </div>

                            <div>
                                <p id="user_selection_prompt" class="lead">Make your choice!</p>
                            </div>
                        </div>

                        <div class="col-md-6" id="carousel_container_opponent">
                            <div id="carousel_rps_opponent" class="carousel slide" data-bs-interval="false">

                                <div class="carousel-inner">

                                    <div id="paper_opponent" class="carousel-item" style="display: none;">
                                        <img class="img-fluid" src="{% static 'assets/paper.png' %}" alt="Picture of a paper">
                                    </div>

                                    <div id="rock_opponent" class="carousel-item" style="display: none;">
                                        <img class="img-fluid" src="{% static 'assets/rock.png' %}" alt="Picture of a rock">
                                    </div>

                                    <div id="scissors_opponent" class="carousel-item" style="display: none;">
                                        <img class="img-fluid" src="{% static 'assets/scissors.png' %}" alt="Picture of scissors">
                                    </div>
                                    
                                    <div id="waiting_for_opponent_choice" class="carousel-item active justify-content-center align-items-center">
                                        <div class="spinner-border" id="multiplayer_loading_rps" role="status">
                                            <span class="visually-hidden"></span>
                                        </div>

                                        <br>
                                        <p class="lead text-black text-center">Waiting for opponent to choose their option</p>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <br><br>

                    <div class="alert alert-primary text-black" id="multiplayer_rps_outcome_div" role="alert" style="display:none;">
                        <p id="multiplayer_rps_outcome" style="text-align:center;"></p>
                    </div>

                    <br><br>

                    <div class="alert alert-warning text-black" id="multiplayer_attempts_div" role="alert">
                        <p id="multiplayer_attempts" style="text-align:center;">Quickest player to win 3 games wins!</p>
                    </div>

                    <br><br>

                    <input type="hidden" id="multiplayer_carousel_value" name="multiplayer_carousel_value" value="">

                    <button type="button" id="multiplayer_selected_rps" style="font-size: 20px;" class="btn btn-primary btn-lg">Select</button>
                </form>

                <div class="modal" id="multiplayer_rps_end_of_game_info_modal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="card mx-sm-5 mb-5">
                                    <div id="multiplayer_display_end_result_of_rps_game" role="alert">
                                        <p class="multiplayer_rps_end_of_game_info lead" style="text-align:center;"></p>
                                    </div>
                                </div>
                                
                                <button type="button" class="multiplayer_rps_play_again btn btn-primary">Play again?</button>

                                <button type="button" class="multiplayer_back_to_homepage_button btn btn-primary">Back to home page?</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal" id="session_disconnected_modal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="card mx-sm-5 mb-5">
                                    <div id="div_session_disconnected" role="alert">
                                        <p class="inform_user_session_disconnect lead" style="text-align:center;">Your opponent has left the game. What would you like to do next?</p>
                                    </div>
                                </div>
                                
                                <button type="button" class="multiplayer_rps_play_again btn btn-primary">Play again?</button>

                                <button type="button" class="multiplayer_back_to_homepage_button btn btn-primary">Back to home page?</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="loading_screen_waiting_for_opponent_div" class="d-flex justify-content-center align-items-center vh-100">
        <p id="waiting_for_oppponent_msg" class="lead text-black text-center" style="font-size: 40px;">Waiting for opponent to join</p>&nbsp;&nbsp;
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <br><br>
    </div>

    <script>

        let round_number = 1;

        let username = document.getElementById("username").value;

        $('.multiplayer_back_to_homepage_button').click(function() {
            window.location.href = "{% url 'homepage' %}";
        });

        $('.multiplayer_rps_play_again').click(function () {
            window.location.href = "{% url 'rock_paper_scissors:multiplayer_rps_start_game' %}"
        });

        const gameSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/multiplayer_rps/'
        );

        const message = {
            user_option : "",
            message: "Rock, Paper, Scissors multiplayer game connection succeeded!",
            username : username
        };

        gameSocket.addEventListener("open", (event) => {
            console.log('WebSocket connection opened:', event);
            gameSocket.send(JSON.stringify(message));
        });

        gameSocket.addEventListener("message", (event) => {
            const message = JSON.parse(event.data);
            console.log('Received message from server:', message);

            $('#multiplayer_rps_game_heading').text("Room Number: " + message.rps_room_name);

            if (message.type === 'start_rps_game') {
                $('#start_multiplayer_game').show();
                $('#loading_screen_waiting_for_opponent_div').removeClass('d-flex').hide();
                $('#loading_screen_waiting_for_opponent_div').hide();
            }

            else if(message.type === 'end_game') {
                if ($('#multiplayer_rps_end_of_game_info_modal').is(':hidden')) {
                    $('#session_disconnected_modal').modal('show');
                }
            }

            if (message.hasOwnProperty('rps_options')) {
                let rps_options = message.rps_options;
                let user_list = message.user_list;

                for(let i = 0; i < user_list.length; i++)
                {
                    if(user_list[i] !== username)
                    {
                        opponent_username = user_list[i];
                        break;
                    }
                }

                if (rps_options[opponent_username]["outcome_of_round"] != "")
                {                    
                    if (rps_options[opponent_username]["user_option"] === "rock")
                    {
                        $('#paper_opponent').hide();
                        $('#scissors_opponent').hide();
                        $('#rock_opponent').show();
                        $('#waiting_for_opponent_choice').hide();
                    }

                    else if (rps_options[opponent_username]["user_option"] === "paper")
                    {
                        $('#rock_opponent').hide();
                        $('#scissors_opponent').hide();
                        $('#paper_opponent').show();
                        $('#waiting_for_opponent_choice').hide();
                    }

                    else if (rps_options[opponent_username]["user_option"] === "scissors")
                    {
                        $('#rock_opponent').hide();
                        $('#paper_opponent').hide();
                        $('#scissors_opponent').show();
                        $('#waiting_for_opponent_choice').hide();
                    }

                    if (rps_options[username]["outcome_of_game"] == "Game Over! You failed to win this game! Good luck next time!" || rps_options[username]["outcome_of_game"] == "Game Over! You won this game! You have received 10 points!")
                    {
                        $('#multiplayer_rps_outcome').text(rps_options[username]["outcome_of_game"]);

                        $('#rock_opponent').hide();
                        $('#paper_opponent').hide();
                        $('#scissors_opponent').hide();
                        $('#waiting_for_opponent_choice').hide();

                        $('#multiplayer_selected_rps').text("Try Again");

                        $('#multiplayer_attempts_div').hide();

                        $('#multiplayer_rps_outcome_div').show();

                        $('#multiplayer_loading_rps').hide();

                        $('.multiplayer_rps_end_of_game_info').text(rps_options[username]["outcome_of_game"]);

                        setTimeout(function() {
                            $('#multiplayer_rps_end_of_game_info_modal').modal('show');
                        }, 1000);
                    }
                    
                    else
                    {
                        $('#carousel_rps_opponent').show();

                        // Removing next/previous buttons from carousel as we don't want user to change this when they already
                        // made their choice
                        $('#carousel_control_prev_for_user').hide();
                        $('#carousel_control_next_for_user').hide();

                        $('#user_selection_prompt').text("You chose " + rps_options[username]["user_option"] + "!");

                        $('#multiplayer_rps_outcome').text("You " + rps_options[username]["outcome_of_round"]);
                        $('#multiplayer_rps_outcome_div').show();

                        setTimeout(function() {
                            // After waiting for 2 seconds, we will reset the opponent options and bring back the loading spinner
                            // which indicates that we are waiting for the opponent to make their choice.
                            $('#paper_opponent').hide();
                            $('#scissors_opponent').hide();
                            $('#rock_opponent').hide();
                            $('#waiting_for_opponent_choice').show();

                            // We are hiding the div that displays whether the user won/lost/drew in the current round. This is because
                            // we want to start the new round, so this is being reset for that purpose.
                            $('#multiplayer_rps_outcome_div').hide();

                            // Reset the text that informs what choice the user picked.
                            $('#user_selection_prompt').text("Make your choice!");
                            
                            // After removing the next/previous option from the carousel, we are bringing it back so the user
                            // can pick their next option.
                            $('#carousel_control_prev_for_user').show();
                            $('#carousel_control_next_for_user').show();

                            // As we are moving to the next round, we are increasing the round number by 1 and updating the text to
                            // display the correct round number.
                            round_number += 1;
                            $('#current_round_number').text("Round " + round_number);
                        }, 2000);
                    }
                }

                console.log('Received rps_options:', rps_options);
            }
        });

        gameSocket.addEventListener("error", (event) => {
            console.error('WebSocket error:', event);
        });

        gameSocket.addEventListener("close", (event) => {
            console.log('WebSocket connection closed:', event);
        });

        // When the user clicks the button to submit their choice, this will be run.
        document.querySelector('#multiplayer_selected_rps').onclick = function (e) {
            var selected_rps_user = $('#carousel_rps_user .carousel-item.active').data('value');
            $('#user_selection_prompt').text("You chose " + selected_rps_user + "!");

            // Removing next/previous buttons from carousel as we don't want user to change this when they already
            // made their choice.
            $('#carousel_control_prev_for_user').hide();
            $('#carousel_control_next_for_user').hide();


            gameSocket.send(JSON.stringify({
                'type' : "rps_move",
                'user_option': selected_rps_user,
                'message' : "First round is complete",
                'username': username
            }));
        };

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
</body>