{% extends "base.html" %}
{% load static %}
{% block title %}Password Reset{% endblock %}

{% block content %}
    <section class="mt-3 mb-5 text-center">
        <h2>Password Reset</h2>
    </section>

    <section class="mt-5 mb-5 text-center">
        <p>
            Enter a new password below. Make sure it is at least 8 characters long, includes a mix of letters and numbers, and is something you haven't used before.
        </p>
    </section>

    <section class="mt-5 mb-5 text-center">
        <form id="password_reset_form" method="POST" data-url="{% url 'password_reset_view' %}">
            {% csrf_token %}
            <div class="container">
                <div class="form-floating mb-3">
                    <input class="form-control" id="new_password_entered" name="new_password_reset" type="password" autocomplete="off" />
                    <label for="new_password_entered">New Password</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" id="confirm_new_password_entered" name="confirm_new_password_reset" type="password" autocomplete="off" />
                    <label for="confirm_new_password_entered">Confirm New Password</label>
                </div>
            </div>

            <button type="submit" id="submit_password_reset_form" class="btn btn-primary btn-lg">Reset Password</button>
        </form>
    </section>

{% endblock %}