{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
<body>
    {% load static %}
    {% block content %}
    <div class="wrapper bg-light">
        <!-- Header-->
        <header class="bg-light py-5">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Create your GameHive account</h2>
                    <p class="lead mb-0">Enter a valid username, email, and password</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div id="div_for_reg_form_errors" class="alert alert-danger" role="alert" style="display: none;">
                            <ul id="reg_form_error_messages"></ul>
                        </div>

                        <div class="alert alert-success" id="reg_form_success" role="alert" style="display:none;"></div>

                        <form id="registration_form" method="post">
                            {% csrf_token %}
                            <!-- Username input-->
                            <div class="d-flex">
                                <div class="form-floating mb-3 flex-grow-1">
                                    <input class="form-control" id="{{ form.username.id_for_label }}" name="username" type="text" placeholder="Enter your name..." autocomplete="off" />
                                    <label for="{{ form.username.id_for_label }}">Username</label>
                                </div>
                                <div class="ms-2 d-flex align-items-center">
                                    <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Enter a valid username. You will need this when logging in."></i>
                                </div>
                            </div>
                            <!-- Email address input-->
                            <div class="d-flex">
                                <div class="form-floating mb-3 flex-grow-1">
                                    <input class="form-control" id="{{ form.email.id_for_label }}" name="email" type="email" placeholder="name@example.com" autocomplete="off" />
                                    <label for="{{ form.email.id_for_label }}">Email address</label>
                                </div>

                                <div class="ms-2 d-flex align-items-center">
                                    <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Enter a valid email. Invalid email addresses will be rejected."></i>
                                </div>
                            </div>

                            <!-- Password input-->
                            <div class="d-flex">
                                <div class="form-floating mb-3 flex-grow-1">
                                    <input class="form-control" id="{{ form.password.id_for_label }}" name="password" type="password" placeholder="Enter password..." />
                                    <label for="{{ form.password.id_for_label }}">Password</label>
                                </div>

                                <div class="ms-2 d-flex align-items-center">
                                    <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Enter a strong password with at least 8 characters."></i>
                                </div>
                            </div>

                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Sign Up</button></div>

                            <p>Already have an account? <a href="{% url 'login' %}" class="link-primary">Login</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <script>

        // When the template is loaded, the user will be able to see the tooltip text
        $(document).ready(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();

            // If the form is submitted, this will perform an AJAX call and send the registration info to the backend.
            // Then, it will be sent back to the client-side, so that it can be displayed.
            $('#registration_form').submit(function (e) {
                // We are preventing the submission of the form, as this will be done through AJAX
                e.preventDefault();

                // We are serialising the form data, so that it can be sent to the backend for review.
                form_data = $('#registration_form').serialize();

                // AJAX POST request, which will attempt to create an account for the user and
                // deliver the outcome (success or failure) to the user
                $.ajax({
                    type: 'POST',
                    url: "{% url 'sign_up' %}",
                    data: form_data,

                    success: function(response) {

                        // If the account has not been created successfully, it will display the error messages on the screen.
                        if (response.success === "")
                        {
                            if (response.error_messages != "")
                            {
                                // Clearing any previous errors, so only new errors are displayed.
                                $('#reg_form_error_messages').text("");

                                // Making sure the div that shows the error messages is hidden.
                                $('#div_for_reg_form_errors').hide();

                                if ($.type(response.error_messages) === "array")
                                {
                                    // Iterating through each error message and displaying it in the required list, so user can correct their
                                    // actions
                                    for (let element in response.error_messages)
                                    {
                                        $('#reg_form_error_messages').append(`<li>${response.error_messages[element]}</li>`);
                                    }
                                }

                                else if ($.type(response.error_messages) === "object")
                                {
                                    // Iterating through each error message and displaying it in the required list, so user can correct their
                                    // actions
                                    for (let element in response.error_messages)
                                    {
                                        response.error_messages[element].forEach(error => {
                                            $('#reg_form_error_messages').append(`<li>${element} is required.</li>`);
                                        });
                                    }
                                }

                                else
                                {
                                    // Adding the error message to the element that holds the error messages
                                    $('#reg_form_error_messages').text(`${response.error_messages}`);
                                }

                                // Displays the div, which holds the list of errors
                                $('#div_for_reg_form_errors').show();
                            }
                        }

                        // If the account has been successfully created, the message will be displayed on the screen.
                        else
                        {
                            // Making sure the div that shows the error messages is hidden.
                            $('#div_for_reg_form_errors').hide();

                            $('#reg_form_success').text(response.success);
                            $('#reg_form_success').show();

                            setTimeout(function () {
                                window.location.href = "{% url 'login' %}";
                            }, 2000);
                        }

                    },

                    // If an error occurred while submitting the form, this will just print the error to the console, to help with
                    // debugging the issue.
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
    {% endblock %}
</body>