{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
<body>
    {% load static %}
    {% block content %}
    <div class="wrapper bg-light">
        <!-- Header-->
        <header class="bg-light py-5">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Create your GameHive account</h2>
                    <p class="lead mb-0">Enter a valid username, email, and password</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        {% if messages %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        {% if error_message %}
                            <div style="background-color:red;">
                                <p style="color: white;text-align: center;">{{ error_message }}</p>
                            </div>
                        {% endif %}

                        <form method="post" action="{% url 'sign_up' %}">
                            {% csrf_token %}
                            <!-- Username input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="{{ form.username.id_for_label }}" name="username" type="text" placeholder="Enter your name..." data-sb-validations="required" autocomplete="off" />
                                <label for="{{ form.username.id_for_label }}">Username</label>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="{{ form.email.id_for_label }}" name="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" autocomplete="off" />
                                <label for="{{ form.email.id_for_label }}">Email address</label>
                            </div>
                            <!-- Password input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="{{ form.password.id_for_label }}" name="password" type="password" placeholder="Enter password..." data-sb-validations="required" />
                                <label for="{{ form.password.id_for_label }}">Password</label>
                            </div>

                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Sign Up</button></div>

                            <p>Already have an account? <a href="{% url 'login' %}" class="link-primary">Login</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </header>
    </div>
    {% endblock %}
</body>