{% extends "base.html" %}
{% load static %}
{% block title %}Testimonials - Management{% endblock %}

<body>
    {% block content %}
        <section id="testimonial_mgmt_heading">
            <div class="text-center">
                <h2>Testimonials - All Testimonials</h2>
            </div>
        </section>

        <section id="list_of_testimonials_section">
            <div class="container">
                <table class="table table-responsive">
                    <thead class="bg-dark text-center text-white">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Username</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Message</th>
                        </tr>
                    </thead>

                    <tbody class="text-center text-black">
                        {% for testimonial_record in all_testimonials %}
                            <tr>
                                <th scope="row"><input class="form-check-input" type="checkbox" id="select_row" aria-label="Select the testimonial record row."></th>
                                <td>{{ testimonial_record.user.username }}</td>
                                <td>
                                    {% for i in ""|rjust:testimonial_record.star_rating %}
                                        <i class="bi bi-star-fill"></i>
                                    {% endfor %}
                                </td>
                                <td>{{ testimonial_record.message }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    {% endblock %}
</body>