{% extends "base.html" %}
{% load static %}
{% block title %}Testimonials - Management{% endblock %}

{% block extra_css %}
    <link href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css" rel="stylesheet">
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>
{% endblock %}

<body>
    {% block content %}
    <section id="main_section">
        <section class="mt-3 mb-5" id="testimonial_mgmt_heading">
            <div class="container">
                <hr>
                <h2>Testimonials - All Testimonials</h2>
                <p>Testimonials in GameHive with the following attributes: username, rating, message. </p>
                <hr>
            </div>
        </section>

        <section>
            <div class="d-flex container justify-content-center">
                <div class="col-12">
                    <div class="card text-center">
                        <div class="card-body">
                            <h3>Total Testimonials</h3>
                            <i class="bi bi-chat-left-quote icons_for_admin_options"></i>
                            <p class="website_statistical_numbers">{{ number_of_testimonials }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5 mb-5" id="testimonial_mgmt_admin_options">
            <div class="d-flex container justify-content-center">
                <div class="btn-group col-12" role="group" aria-label="Admin options for managing testimonials.">
                    <button type="button" class="btn admin_options_delete"><i class="bi bi-trash"></i> Delete Testimonial</button>
                    <button type="button" id="refresh_testimonials_btn" class="btn admin_options_refresh_page"><i class="bi bi-arrow-clockwise"></i> Refresh</button>
                    <button type="button" class="btn admin_options_refresh_page"><i class="bi bi-download"></i> Download Testimonials</button>
                </div>
            </div>
        </section>

        <section class="mt-5 mb-5" id="list_of_testimonials_section">
            <div class="container">
                <table class="table table-responsive" id="manage_testimonials_table">
                    <thead id="testimonials_mgmt_table_headers">
                        <tr>
                            <th scope="col"><input class="form-check-input" type="checkbox" id="select_row" aria-label="Select the testimonial record row."></th>
                            <th scope="col" class="text-black text-center">Username</th>
                            <th scope="col" class="text-black text-center">Rating</th>
                            <th scope="col" class="text-black text-center">Message</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for testimonial_record in all_testimonials %}
                            <tr>
                                <th scope="row"><input class="form-check-input" type="checkbox" id="select_row" aria-label="Select the testimonial record row."></th>
                                <td class="text-black text-center">{{ testimonial_record.user.username }}</td>
                                <td class="text-black text-center">
                                    {% for i in ""|rjust:testimonial_record.star_rating %}
                                        <i class="bi bi-star-fill"></i>
                                    {% endfor %}
                                </td>
                                <td class="text-black text-center">{{ testimonial_record.message }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </section>

    <script>
        $(document).ready(function() {
            // When we are on the "Testimonials Management" page, we want the "Admin Dashboard" nav link to be highlighted.
            $('#admin_dashboard_link').addClass('highlight_sign_up_nav_link_in_login_page');

            // Initialise the HTML table to be a datatable, with the "sort" option disabled for the first column.
            new DataTable("#manage_testimonials_table", {
                columnDefs: [
                    { orderable:false, targets:0 }
                ]
            });

            // When the admin clicks the button the refresh the page, we will perform a GET request and bring the changes
            // from the page without a page reload.
            $('#refresh_testimonials_btn').click(function() {
                $.ajax({
                    type: 'GET',
                    url: "{% url 'testimonials_mgmt' %}",

                    // If the page refresh was successful, we will perform the below.
                    success: function(response) {
                        // We are clearing the information from the datatable, so that it can be updated with the latest info
                        let manage_testimonials_table = $('#manage_testimonials_table').DataTable();
                        manage_testimonials_table.destroy();
                        
                        // Find the main section (whole page) and update the HTML with the new info
                        let main_section_refresh = $(response).find("#main_section").html();
                        $('#main_section').html(main_section_refresh);

                        // Update the datatable with the new information.
                        $('#manage_testimonials_table').DataTable({
                            columnDefs: [
                                { orderable: false, targets: 0 }
                            ]
                        });
                        
                    },

                    // If an error was encountered, we will log it to the console.
                    error: function(error) {
                        console.log(error);
                    }
                })
            });
        });
    </script>
    {% endblock %}
</body>