{% extends "base.html" %}
{% load static %}
{% block title %}Testimonials - Management{% endblock %}

{% block extra_css %}
    <link href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css" rel="stylesheet">
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>
    <script src="{% static 'js/testimonials_mgmt.js' %}"></script>
{% endblock %}

<body>
    {% block content %}
    <section id="main_section">
        <section class="mt-3 mb-5" id="testimonial_mgmt_heading">
            <div class="container">
                <hr>
                <h2>Testimonials - All Testimonials</h2>
                <p>Testimonials in GameHive with the following attributes: username, rating, message. </p>
                <hr>
            </div>
        </section>

        <section>
            <div class="d-flex container justify-content-center">
                <div class="col-12">
                    <div class="card text-center">
                        <div class="card-body">
                            <h3>Total Testimonials</h3>
                            <i class="bi bi-chat-left-quote icons_for_admin_options"></i>
                            <p class="website_statistical_numbers">{{ number_of_testimonials }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5 mb-5" id="testimonial_mgmt_admin_options">
            <div class="d-flex container justify-content-center">
                <div class="btn-group col-12" role="group" aria-label="Admin options for managing testimonials.">
                    <button type="button" class="btn admin_options_delete"><i class="bi bi-trash"></i> Delete Testimonial</button>
                    <button type="button" id="refresh_testimonials_btn" class="btn admin_options_refresh_page"><i class="bi bi-arrow-clockwise"></i> Refresh</button>
                    <button type="button" class="btn admin_options_refresh_page"><i class="bi bi-download"></i> Download Testimonials</button>
                </div>
            </div>
        </section>

        <section class="mt-5 mb-5" id="list_of_testimonials_section">
            <div class="container">
                <table class="table table-responsive" id="manage_testimonials_table">
                    <thead id="testimonials_mgmt_table_headers">
                        <tr>
                            <th scope="col"><input class="form-check-input" id="select_all_testimonials" type="checkbox" aria-label="Select the testimonial record row."></th>
                            <th scope="col" class="text-black text-center">Username</th>
                            <th scope="col" class="text-black text-center">Rating</th>
                            <th scope="col" class="text-black text-center">Message</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for testimonial_record in all_testimonials %}
                            <tr class="testimonial-row">
                                <th scope="row"><input class="form-check-input select-row" type="checkbox" aria-label="Select the testimonial record row."></th>
                                <td class="text-black text-center">{{ testimonial_record.user.username }}</td>
                                <td class="text-black text-center">
                                    {% for i in ""|rjust:testimonial_record.star_rating %}
                                        <i class="bi bi-star-fill"></i>
                                    {% endfor %}
                                </td>
                                <td class="text-black text-center">{{ testimonial_record.message }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    {% endblock %}
</body>