{% extends "base.html" %}
{% block title %}Testimonials{% endblock %}
<body class="white_background">
    {% load static %}
    {% block content %}
    <div class="wrapper white_background">
        <!-- Header-->
        <header class="py-5">
            {% if user.is_authenticated %}
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder text-black">Tell us your thoughts</h2>
                    <p class="lead text-black mb-0">Leave your review using this form below...</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">

                        <div id="div_testimonial_errors" class="alert alert-danger" style="display: none;">
                            <ul id="testimonial_errors_list">
                            </ul>
                        </div>

                        <div class="alert alert-success" id="testimonial_form_success" role="alert" style="display:none;"></div>

                        <form id="testimonials_form" method="post">
                            {% csrf_token %}
                            <!-- Username -->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="testimonial_username" name="testimonial_username" type="text" value="{{ user }}" autocomplete="off" readonly/>
                                <label for="testimonial_username">Username</label>
                            </div>

                            <label for="testimonial_star_ratings">Rating</label>
                            <div class="form-floating mb-3">
                                <div id="testimonial_star_ratings">
                                    <input type="hidden" name="star_rating" id="star_rating" value="1" />
                                    <a href="javascript:void(0)" class="testimonial_star_rating_link" aria-label="Star rating for testimonial form" data-index="1"><i class="bi bi-star-fill testimonial_star_rating_size" data-index="1"></i></a>
                                    <a href="javascript:void(0)" class="testimonial_star_rating_link" aria-label="Star rating for testimonial form" data-index="2"><i class="bi bi-star testimonial_star_rating_size" data-index="2"></i></a>
                                    <a href="javascript:void(0)" class="testimonial_star_rating_link" aria-label="Star rating for testimonial form" data-index="3"><i class="bi bi-star testimonial_star_rating_size" data-index="3"></i></a>
                                    <a href="javascript:void(0)" class="testimonial_star_rating_link" aria-label="Star rating for testimonial form" data-index="4"><i class="bi bi-star testimonial_star_rating_size" data-index="4"></i></a>
                                    <a href="javascript:void(0)" class="testimonial_star_rating_link" aria-label="Star rating for testimonial form" data-index="5"><i class="bi bi-star testimonial_star_rating_size" data-index="5"></i></a>
                                </div>
                            </div>

                            <!-- Message -->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" name="testimonial_message" type="text" style="height: 10rem" autocomplete="off"></textarea>
                                <label for="message">Message</label>
                            </div>

                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit Your Review</button></div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            
            <hr>

            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder text-black">Testimonials</h2>
                    <p class="lead text-black mb-0">
                        See what our users have to say! Read real testimonials from people who have experienced and loved our service.
                    </p>
                </div>
            </div>

            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div id="div_delete_testimonial" class="alert alert-danger" style="display: none;">
                        <p id="delete_testimonial_error_message"></p>
                    </div>

                    <div class="alert alert-success" id="delete_testimonial_success" role="alert" style="display:none;"></div>
                </div>
            </div>

            {% if testimonials_model_objs %}
                {% for item in testimonials_model_objs %}
                    {% if item.user == user %}
                        <p class="lead text-center">Your Testimonial</p>
                        
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-xl-4 justify-content-center">
                                <div class="card flex-fill">
                                    <div class="card-body">
                                        <form id="form_for_deleting_testimonial" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" id="delete_testimonial_button" class="delete_testimonial_button_styling"><i class="bi bi-trash"></i></button>
                                        </form>
                                        
                                        <h5 class="fw-bolder card-title lead">{{ item.user }}</h5>
                                        <p id="date_of_testimonial_text" class="card-text text-black">{{ item.date_of_testimonial }}</p>
                                        {% for i in ""|rjust:item.star_rating %}
                                            <i class="bi bi-star-fill"></i>
                                        {% endfor %}
                                        <p class="card-text text-black"><i class="bi bi-quote">"{{ item.message }}"</i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            
            

            {% if testimonials_model_objs %}
                <p class="lead text-center">Let's see what other users said!</p>
                <div class="row justify-content-center">
                    {% for item in testimonials_model_objs %}
                        {% if item.user != user %}
                            <div class="col-lg-6 col-xl-4 justify-content-center">
                                <div class="card flex-fill">
                                    <div class="card-body">
                                        <h5 class="fw-bolder card-title lead">{{ item.user }}</h5>
                                        <p id="date_of_testimonial_text" class="card-text text-black">{{ item.date_of_testimonial }}</p>
                                        {% for i in ""|rjust:item.star_rating %}
                                            <i class="bi bi-star-fill"></i>
                                        {% endfor %}
                                        <p class="card-text text-black"><i class="bi bi-quote">"{{ item.message }}"</i></p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}        
                    {% endfor %}
                </div>
            {% endif %}
        </header>
    </div>

    <script>
        $(document).ready(function () {

            $('.testimonial_star_rating_link').click(function() {
                // Retrieving the index of the star that was clicked, which will decide how many stars should be coloured in.
                let star_rating_index = $(this).data("index");

                $('#star_rating').val(star_rating_index);

                // Clearing the stars that were filled in before
                $(".bi-star-fill").removeClass("bi-star-fill").addClass("bi-star");
                
                for (let i = 1; i <= star_rating_index; i++)
                {
                    $(".bi-star[data-index='" + i + "']").removeClass("bi-star").addClass("bi-star-fill");
                }
            });

            // If the form is submitted, this will perform an AJAX call and send the testimonial info to the backend.
            // Then, it will be sent back to the client-side, so that it can be displayed.
            $('#testimonials_form').submit(function (e) {
                // We are preventing the submission of the form, as this will be done through AJAX
                e.preventDefault();

                // We are serialising the form data, so that it can be sent to the backend for review.
                form_data = $('#testimonials_form').serialize();

                // AJAX POST request, which will attempt to add a testimonial and
                // deliver the outcome (success or failure) to the user
                $.ajax({
                    type : "POST",
                    url : "{% url 'testimonials_page' %}",
                    data : form_data,

                    success: function(response) {

                        // Making sure the div that shows the error messages is hidden.
                        $('#div_testimonial_errors').hide();
                        $('#testimonial_form_success').hide();

                        // Clearing any previous errors, so only new errors are displayed.
                        $('#testimonial_errors_list').text("");
                        $('#testimonial_form_success').text("");

                        // If there was an issue with creating the testimonial, error messages will be displayed on the screen
                        if (response.success === "")
                        {
                            // If the error messages are stored in an object data type, we will iterate through each and 
                            // append them to the list of error messages. All error messages will then be displayed in a list.
                            if ($.type(response.error_messages) === "object")
                            {
                                // Iterating through each error message and putting it in the error list.
                                for (let element in response.error_messages)
                                {
                                    response.error_messages[element].forEach(error => {
                                        $('#testimonial_errors_list').append(`<li>${element} is required.</li>`);
                                    });
                                }
                            }

                            // If the error message is a simple string, we will just display it in the list as it is.
                            else
                            {
                                $('#testimonial_errors_list').text(`${response.error_messages}`);
                            }

                            // Regardless of whether the errors are in an object or string data type, we want to display the div
                            // the shows the errors. It will be visible on the screen.
                            $('#div_testimonial_errors').show();
                        }

                        // If the testimonial was created successfully, a success message will be displayed on the screen
                        // and the page will reload, so that the new testimonial is present on the screen.
                        else
                        {
                            // Disabling the submit button in the testimonial form, so that a user cannot click it while the request
                            // is being processed
                            $('#submitButton').prop("disabled", true);

                            // Success message displayed on the screen
                            $('#testimonial_form_success').text(response.success);
                            $('#testimonial_form_success').show();

                            // Reloading the page so that the new testimonial is shown in the list of testimonials.
                            setTimeout(function() {
                                location.reload(true);
                            }, 1500);
                        }
                    },

                    // If an error occurred while submitting the form, this will just print the error to the console, to help with
                    // debugging the issue.
                    error: function(error) {
                        console.log(error);
                    }
                });


            });
            
            $('#form_for_deleting_testimonial').submit(function(e) {
                // We are preventing the submission of the form, as this will be done through AJAX
                e.preventDefault();

                // We are serialising the form data, so that it can be sent to the backend for review.
                form_data = $('#form_for_deleting_testimonial').serialize();

                // AJAX POST request, which will attempt to remove a testimonial and deliver the outcome (success or failure)
                // to the user
                $.ajax({
                    type : "POST",
                    url : "{% url 'remove_testimonial' %}",
                    data : form_data,

                    success: function(response) {

                        // Making sure that fields that indicate whether the user deleted the testimonial or not are clear.
                        $('#delete_testimonial_success').text("");
                        $('#delete_testimonial_error_message').text("");

                        // If the testimonial was deleted, we will display the success message on the screen and reload the page
                        // so that the user can see that this was deleted.
                        if (response.success === "yes")
                        {
                            // Add the message that the testimonial has been deleted
                            $('#delete_testimonial_success').text(response.testimonial_status);

                            // Display the div that stores the message above
                            $('#delete_testimonial_success').show();

                            // We are disabling the button to delete the testimonial, as we don't want the user to touch this button
                            // while the request is being processed.
                            $('#delete_testimonial_button').prop("disabled", true);

                            // After 1.5 seconds, the page will be reloaded
                            setTimeout(function() {
                                location.reload();
                            }, 1500);
                        }

                        // If there was an issue with deleting the testimonial, we will display the error message on the screen
                        else
                        {  
                            // Display the error message on the screen
                            $('#delete_testimonial_error_message').text(response.testimonial_status);

                            // Display the div that holds the error message above
                            $('#div_delete_testimonial').show();
                        }

                    },

                    // If an error occurred while submitting the form, this will just print the error to the console, to help with
                    // debugging the issue.
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>

    {% endblock %}
</body>