{% extends "base.html" %}
{% block title %}Testimonials{% endblock %}
<body>
    {% load static %}
    {% block content %}
    <div class="wrapper" style="background-color: #E6F7FF;">
        <!-- Header-->
        <header class="bg-light py-5">
            {% if user.is_authenticated %}
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder text-black">Tell us your thoughts</h2>
                    <p class="lead text-black mb-0">Leave your review using this form below...</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        
                        {% if messages %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        <form id="testimonials_form" method="post" action="{% url 'testimonials_page' %}">
                            {% csrf_token %}
                            <!-- Username -->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="testimonial_username" name="testimonial_username" type="text" value="{{ user }}" data-sb-validations="required" autocomplete="off" readonly/>
                                <label for="testimonial_username">Username</label>
                            </div>

                            <!-- Message -->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" name="testimonial_message" type="text" style="height: 10rem" data-sb-validations="required" autocomplete="off" required></textarea>
                                <label for="message">Message</label>
                            </div>

                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit Your Review</button></div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            
            <hr>

            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder text-black">Here are some testimonials from our users...</h2>
                </div>
            </div>

            <div class="row">
                {% if testimonials_model_objs %}
                    {% for item in testimonials_model_objs %}
                    <div class="col-md-3 d-flex mx-auto">
                        <div class="card flex-fill">
                            <div class="card-body">
                                <h5 class="card-title text-black">{{ item.user }}</h5>
                                <p id="date_of_testimonial_text" class="card-text text-black">{{ item.date_of_testimonial }}</p>
                                <p class="card-text text-black">{{ item.message }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </header>
    </div>
    {% endblock %}
</body>