{% extends "base.html" %}
{% load static %}
{% block title %}User Requests{% endblock %}

{% block extra_css %}
  <link href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>
  <script src="{% static 'js/user_requests.js' %}"></script>
{% endblock %}

<body>
    {% block content %}
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}" />
      <section id="main_section">
        <section class="mt-3 mb-5" id="user_requests_heading">
            <div class="container">
                <hr>
                <h2>User requests - All Requests</h2>
                <p>The admin can view current user requests, as well as the closed requests.</p>
                <hr>
            </div>
        </section>

        <section>
          <div class="d-flex container justify-content-center">
            <div class="col-12">
              <div class="card text-center">
                <div class="card-body">
                  <h3>Total Active User Requests</h3>
                  <i class="bi bi-people icons_for_admin_options"></i>
                  <p class="website_statistical_numbers">{{ number_of_active_user_requests }}</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="mt-5 mb-5" id="user_requests_admin_options">
          <div class="d-flex container justify-content-center">
            <div class="btn-group col-12" role="group" aria-label="User requests submitted using the customer support form.">
              <button type="button" class="btn admin_options_delete" data-url="{% url 'user_request_mgmt' %}"><i class="bi bi-trash"></i> Delete User Request</button>
              <button type="button" class="btn admin_options_refresh_page" data-url="{% url 'user_request_mgmt' %}"><i class="bi bi-arrow-clockwise"></i> Refresh</button>
            </div>
          </div>
        </section>

        <section class="mt-5 mb-5">
            <div class="container">
              <div class="alert alert-success" id="div_outcome_delete_user_request_success" role="alert" style="display:none;">
                <p id="paragraph_outcome_delete_user_request_success"></p>
              </div>

              <div class="alert alert-danger" id="div_outcome_delete_user_request_failure" role="alert" style="display:none;">
                  <p id="paragraph_outcome_delete_user_request_failure"></p>
              </div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="unassigned_requests_tab" data-bs-toggle="tab" data-bs-target="#unassigned_requests_tab_pane" type="button" role="tab" aria-controls="unassigned_requests_tab_pane" aria-selected="true">Unassigned Requests</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="assigned_to_me_tab" data-bs-toggle="tab" data-bs-target="#assigned_to_me_tab_pane" type="button" role="tab" aria-controls="assigned_to_me_tab_pane" aria-selected="false">Assigned To Me</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="closed_requests_tab" data-bs-toggle="tab" data-bs-target="#closed_requests_tab_pane" type="button" role="tab" aria-controls="closed_requests_tab_pane" aria-selected="false">Closed Requests</button>
                    </li>
                  </ul>
                  <div class="tab-content" id="open_and_closed_requests_tab_content">
                    <div class="tab-pane fade show active" id="unassigned_requests_tab_pane" role="tabpanel" aria-labelledby="unassigned_requests_tab" tabindex="0">

                      <table id="unassigned_user_requests_table" class="table table-bordered;">
                        <thead class="table_heading_user_reqs">
                          <tr>
                              <th scope="col"><input class="form-check-input select_all_user_requests" type="checkbox" aria-label="Select the user request record row." /></th>
                              <th class="datatable_headings fw-bolder text-black text-center">Ticket ID</th>
                              <th class="datatable_headings fw-bolder text-black text-center">Created At</th>
                              <th class="datatable_headings fw-bolder text-black text-center">Requester</th>
                              <th class="datatable_headings fw-bolder text-black text-center">Request Type</th>
                              <th class="datatable_headings fw-bolder text-black text-center">Title</th>
                              <th class="datatable_headings fw-bolder text-black text-center">Updated At</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for user_request in all_unassigned_user_requests %}
                            <tr class="user-record-row">
                                <td scope="row"><input class="form-check-input select-row" type="checkbox" aria-label="Select the user request record row." /></td>
                                <td class="text-black text-center ticket_id"><a href="{% url 'display_ticket_info' %}">{{ user_request.ticket_id }}</a></td>
                                <td class="text-black text-center">{{ user_request.ticket_created_at }}</td>
                                {% if not user_request.requester_email %}
                                  <td class="text-black text-center">{{ user_request.requester_username }}</td>
                                {% else %}
                                  <td class="text-black text-center">{{ user_request.requester_email }}</td>
                                {% endif %}
                                <td class="text-black text-center">{{ user_request.ticket_request_type }}</td>
                                <td class="text-black text-center">{{ user_request.ticket_title }}</td>
                                <td class="text-black text-center">{{ user_request.ticket_updated_at }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>

                    <div class="tab-pane fade" id="assigned_to_me_tab_pane" role="tabpanel" aria-labelledby="assigned_to_me_tab" tabindex="0">
                      <table id="assigned_to_me_user_requests_table" class="table table-bordered;" style="display:none;">
                        <thead class="table_heading_user_reqs">
                          <tr>
                            <th scope="col"><input class="form-check-input select_all_user_requests" type="checkbox" aria-label="Select the user request record row." /></th>
                            <th class="datatable_headings fw-bolder text-black text-center">Ticket ID</th>
                            <th class="datatable_headings fw-bolder text-black text-center">Created At</th>
                            <th class="datatable_headings fw-bolder text-black text-center">Requester</th>
                            <th class="datatable_headings fw-bolder text-black text-center">Request Type</th>
                            <th class="datatable_headings fw-bolder text-black text-center">Title</th>
                            <th class="datatable_headings fw-bolder text-black text-center">Updated At</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for request_assigned_to_me in all_requests_assigned_to_me %}
                            <tr class="user-record-row">
                                <td scope="row"><input class="form-check-input select-row" type="checkbox" aria-label="Select the user request record row." /></td>
                                <td class="text-black text-center ticket_id"><a href="{% url 'display_ticket_info' %}">{{ request_assigned_to_me.ticket_id }}</a></td>
                                <td class="text-black text-center">{{ request_assigned_to_me.ticket_created_at }}</td>
                                {% if not request_assigned_to_me.requester_email %}
                                  <td class="text-black text-center">{{ request_assigned_to_me.requester_username }}</td>
                                {% else %}
                                  <td class="text-black text-center">{{ request_assigned_to_me.requester_email }}</td>
                                {% endif %}
                                <td class="text-black text-center">{{ request_assigned_to_me.ticket_request_type }}</td>
                                <td class="text-black text-center">{{ request_assigned_to_me.ticket_title }}</td>
                                <td class="text-black text-center">{{ request_assigned_to_me.ticket_updated_at }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>

                    </div>
                    
                    <div class="tab-pane fade" id="closed_requests_tab_pane" role="tabpanel" aria-labelledby="closed_requests_tab" tabindex="0">
                      <table id="closed_user_requests_table" class="table table-bordered;" style="display:none;">
                        <thead class="table_heading_user_reqs">
                          <tr>
                            <th scope="col"><input class="form-check-input select_all_user_requests" type="checkbox" aria-label="Select the user request record row." /></th>
                            <th class="datatable_headings fw-bolder text-black text-center">Ticket ID</th>
                            <th class="datatable_headings fw-bolder text-black text-center">Created At</th>
                            <th class="datatable_headings fw-bolder text-black text-center">Requester</th>
                            <th class="datatable_headings fw-bolder text-black text-center">Request Type</th>
                            <th class="datatable_headings fw-bolder text-black text-center">Title</th>
                            <th class="datatable_headings fw-bolder text-black text-center">Updated At</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for closed_request in all_closed_user_requests %}
                            <tr class="user-record-row">
                                <td scope="row"><input class="form-check-input select-row" type="checkbox" aria-label="Select the user request record row." /></td>
                                <td class="text-black text-center ticket_id"><a href="{% url 'display_ticket_info' %}">{{ closed_request.ticket_id }}</a></td>
                                <td class="text-black text-center">{{ closed_request.ticket_created_at }}</td>
                                {% if not closed_request.requester_email %}
                                  <td class="text-black text-center">{{ closed_request.requester_username }}</td>
                                {% else %}
                                  <td class="text-black text-center">{{ closed_request.requester_email }}</td>
                                {% endif %}
                                <td class="text-black text-center">{{ closed_request.ticket_request_type }}</td>
                                <td class="text-black text-center">{{ closed_request.ticket_title }}</td>
                                <td class="text-black text-center">{{ closed_request.ticket_updated_at }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>

                    </div>
                  </div>
            </div>
        </section>
      </section>

    {% endblock %}
</body>