{% extends 'base.html' %}
{% load static %}
{% block title %}View Ticket{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/view_ticket.js' %}"></script>
{% endblock %}

<body>
    {% block content %}

    <section id="main_section">
        <section id="flex_container_section" class="d-flex container gap-5">
            <section class="mb-5 ms-sm-0 ms-md-5 col-md-5 flex-grow-1" id="heading_for_viewing_ticket_page">
                <div class="d-flex align-items-center mt-3 mb-5">
                    <h2 class="me-2" id="ticket_title">{{ ticket_info.ticket_title }}</h2>
                    
                    <div>
                        <button type="button" class="btn btn-lg edit_ticket_title"><i class="bi bi-pencil"></i></button>
                    </div>
                </div>

                <input type="text" id="ticket_title_input" class="form-control d-none w-auto mb-3" data-url="{% url 'edit_ticket_title' %}" value="{{ ticket_info.ticket_title }}" autocomplete="off" />
                
                <input type="hidden" id="csrf_token" value="{{ csrf_token }}" />
                
                <button type="button" class="btn btn-primary d-none" id="save_edited_title">Save</button>

                <button type="button" class="btn btn-secondary d-none" id="cancel_edited_title">Cancel</button>
                
                <p class="mt-3 mb-5">{{ ticket_info.ticket_description }}</p>
                
                <hr>

                <section id="comments_section">
                    <h4 class="mt-4 mb-4">Comments</h4>

                    <div class="alert alert-success" id="div_outcome_comment_success" role="alert" style="display:none;">
                        <p id="paragraph_outcome_comment_success"></p>
                    </div>

                    <div class="alert alert-danger" id="div_outcome_comment_failure" role="alert" style="display:none;">
                        <p id="paragraph_outcome_comment_failure"></p>
                    </div>
                    
                    <form id="add_comment_in_ticket_form" method="POST" data-url="{% url 'add_comment_customer_support_ticket' %}">
                        {% csrf_token %}

                        <textarea class="form-control mb-3" name="comment_content" rows="3" placeholder="Enter your comment here..."></textarea>

                        <input type="hidden" name="commenter_username" id="commenter_username" value="{{ user }}" /> 

                        <input type="hidden" name="ticket_id" id="ticket_id" value="{{ ticket_info.ticket_id }}" />

                        <button type="submit" class="mb-3 btn btn-primary btn-lg" id="reply_to_ticket"><i class="bi bi-reply"></i> Reply</button>
                    </form>
                    
                    {% for comment in ticket_comments %}
                        <div class="card mb-3">
                            <div class="card-body p-4">
                                <div class="d-flex flex-start">
                                    <img class="rounded-circle me-3" src="{% static 'assets/user-profile.png' %}" alt="Avatar" height="60" width="60" />

                                    <div>
                                        <h6 class="fw-bolder mb-1">{{ comment.commenter_username }}</h6>

                                        <p class="mb-3">{{ comment.timestamp }}</p>

                                        <p class="mb-3">{{ comment.comment_content }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                
                </section>
            </section>

            <section class="ms-sm-0 ms-md-5">
                
                <div class="ticket_info mt-3 col-md-7 ms-auto">
                    <button class="toggle_sidebar_btn mb-1 btn-primary btn-lg" style="float:right;" type="button" id="toggle_sidebar" aria-label="Toggle sidebar"><i class="bi bi-list"></i></button>
                    
                    <form id="update_ticket_info_form" method="POST" data-url="{% url 'update_ticket_info' %}">
                        {% csrf_token %}
                        <dl class="row d-none">
                            <dt class="ticket_attributes mt-2 ms-1 me-2 ">Ticket ID</dt>
                            <dd class="ticket_attribute_values mt-2 ms-1 me-2 ">{{ ticket_info.ticket_id }}</dd>

                            <dt class="ticket_attributes mt-2 ms-1 me-2 ">Requester</dt>
                            {% if ticket_info.requester_email == "" %}
                                <dd class="ticket_attribute_values mt-2 ms-1 me-2 ">{{ ticket_info.requester_username }}</dd>
                            {% else %}
                                <dd class="ticket_attribute_values mt-2 ms-1 me-2 ">{{ ticket_info.requester_email }}</dd>
                            {% endif %}

                            <dt class="ticket_attributes mt-2 ms-1 me-2 ">Ticket Type</dt>
                            <dd class="ticket_attribute_values mt-2 ms-1 me-2 ">
                                <select class="form-select" id="ticket_request_type" name="ticket_request_type" aria-label="Dropdown where the admin can change the ticket request type.">
                                    <option value="{{ ticket_info.ticket_request_type }}">{{ ticket_info.ticket_request_type }}</option>

                                    {% if not ticket_info.ticket_request_type == "Delete Your Account" %}
                                        <option value="Delete Your Account">Delete Your Account</option>
                                    {% endif %}

                                    {% if not ticket_info.ticket_request_type == "Edit Your Account" %}
                                        <option value="Edit Your Account">Edit Your Account</option>
                                    {% endif %}

                                    {% if not ticket_info.ticket_request_type == "Cancel Your Purchase" %}
                                        <option value="Cancel Your Purchase">Cancel Your Purchase</option>
                                    {% endif %}

                                    {% if not ticket_info.ticket_request_type == "General Requests" %}
                                        <option value="General Requests">General Requests</option>
                                    {% endif %}
                                </select>
                            </dd>

                            <dt class="ticket_attributes mt-2 ms-1 me-2 ">Ticket Status</dt>
                            <dd class="ticket_attribute_values mt-2 ms-1 me-2 ">
                                <select class="form-select" id="ticket_status_dropdown" name="ticket_status_dropdown" aria-label="Dropdown where the admin can change the ticket status.">
                                    <option value="{{ ticket_info.ticket_status }}">{{ ticket_info.ticket_status }}</option>
                                    
                                    {% if not ticket_info.ticket_status == "Open" %}
                                        <option value="Open">Open</option>
                                    {% endif %}
                                    
                                    {% if not ticket_info.ticket_status == "In Progress" %}
                                        <option value="In Progress">In Progress</option>
                                    {% endif %}

                                    {% if not ticket_info.ticket_status == "Closed" %}
                                        <option value="Closed">Closed</option>
                                    {% endif %}
                                </select>
                            </dd>

                            <dt class="ticket_attributes mt-2 ms-1 me-2 ">Assigned To</dt>
                            {% if ticket_info.ticket_assigned_to == "" %}
                                <dd class="ticket_attribute_values mt-2 ms-1 me-2 ">
                                    <select class="form-select" id="ticket_assigned_to_dropdown" name="ticket_assigned_to_dropdown" aria-label="Dropdown where the admin can assign the ticket to someone else.">
                                        <option value="">-- Select an option --</option>
                                        {% for admin_user in all_admin_users_string %}
                                            <option value="{{ admin_user }}">{{ admin_user }}</option>
                                        {% endfor %}
                                    </select>
                                </dd>
                            {% else %}
                                <dd class="ticket_attribute_values mt-2 ms-1 me-2 ">
                                    <select class="form-select" id="ticket_assigned_to_dropdown" name="ticket_assigned_to_dropdown" aria-label="Dropdown where the admin can assign the ticket to someone else.">
                                        <option value="{{ ticket_info.ticket_assigned_to }}">{{ ticket_info.ticket_assigned_to }}</option>
                                        {% for admin_user in all_admin_users_string %}
                                            {% if not ticket_info.ticket_assigned_to == admin_user %}
                                                <option value="{{ admin_user }}">{{ admin_user }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </dd>
                            {% endif %}

                            <dt class="ticket_attributes mt-2 ms-1 me-2 ">Created At</dt>
                            <dd class="ticket_attribute_values mt-2 ms-1 me-2 ">{{ ticket_info.ticket_created_at }}</dd>

                            <dt class="ticket_attributes mt-2 ms-1 me-2 ">Updated At</dt>
                            <dd class="ticket_attribute_values mt-2 ms-1 me-2 ">{{ ticket_info.ticket_updated_at }}</dd>

                            <input type="hidden" name="ticket_number" value="{{ ticket_info.ticket_id }}" />
                            
                            <button type="submit" class="btn btn-secondary ms-4 mt-2" id="update_ticket_info">Update</button>

                            <div class="alert alert-success ms-4 mt-2" id="div_ticket_updated_success" role="alert" style="display:none;">
                                <p id="paragraph_ticket_updated_success"></p>
                            </div>

                            <div class="alert alert-danger ms-4 mt-2" id="div_ticket_updated_failure" role="alert" style="display:none;">
                                <p id="paragraph_ticket_updated_failure"></p>
                            </div>
                        </dl>
                    </form>
                </div>
            </section>
        </section>
    </section>
    {% endblock %}
</body>